@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

* {
  font-family: 'Raleway', sans-serif;
}

body {
  background-color: #f3f4f6; /* Tailwind's gray-100 */
}